{% load static %} {% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Chart js-->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
            integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'styles/global.css' %}"/>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% load django_bootstrap5 %}{% bootstrap_css %} {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>Pluviometer - Fique ligado nas chuvas ao seu redor!</title>
</head>

<body>
<div class="container-fluid">
    <div class="row min-vh-100 w-100">
        <div
                class="d-flex flex-column justify-content-center col-lg-5 col-md-6 col-sm-10 ms-5 ps-5 border-end"
        >
            <h1 class="text-center pb-2 fw-bold">Entrar</h1>
            <p class="ps-5">
                Acesse a plataforma com seu usuário e senha para obter acesso a mais
                funções da aplicação
            </p>
            <form class="w-100 ps-5" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Endereço de e-mail:</label>
                    <input
                            type="email"
                            name="login"
                            class="form-control"
                            id="email"
                            aria-describedby="emailHelp"
                            placeholder="Seu email"
                            required
                    />
                    <div id="emailHelp" class="form-text">
                        Não compartilharemos seu e-mail com ninguém.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:</label>
                    <input
                            type="password"
                            name="password"
                            class="form-control"
                            id="senha"
                            required
                            placeholder="Sua senha"
                    />
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <button type="submit" class="btn btn-primary">
                        Entrar na conta
                    </button>
                </div>

                <div class="d-flex align-items-center justify-content-center pt-2">
                    <a
                    href="{% url 'dashboard:account' %}"
                    role="button"
                    class="btn btn-link"
                    >
                       Criar conta
                    </a> 

                    <a
                    href="{% url 'dashboard:map' %}"
                    role="button"
                    class="btn btn-link"
                    >
                        Voltar
                    </a> 
                </div>
            </form>
        </div>
        <div
            class="col-lg-7 w-50 col-md-6 col-sm-2 d-none d-md-block"
            style="
            background-image: url({% static 'images/icon.png' %});
            background-size: cover; background-position:center;

          "
        ></div>
    </div>
</div>
</body>
</html>
