{% extends 'main.html' %} {% block content %}

<div class="container mt-4">
  <h1>Gráfico dos dados</h1>
  <form method="GET">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mb-3">Gerar Gráfico</button>
  </form>
  <hr />
  <div id="plotly-chart"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var plot_data = JSON.parse("{{ plot_json | safe }}");

  Plotly.newPlot("plotly-chart", plot_data.data, plot_data.layout);
</script>

{% endblock %}
