{% extends "main.html" %} {% block content %} {% load bootstrap_icons %}
    <section class="container-fluid ps-4 pe-4 mt-5">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex">
                <span class="cursor-pointer"
                      onclick="goBack()">{% bs_icon 'arrow-left' size='1.5em' color='#000' %}</span>
                <h4 class="ms-3">{{ object.id }} - {{ object.name }}</h4>
                <p>{{ object.description }}</p>
            </div>
            <button
                    onclick="changeModalTitle('Novo modelo de dado')"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#datamodelModal"
                    class="mt-sm-0 btn btn-dark d-flex align-items-center"
            >
                {% bs_icon 'plus' size='1.2em' %}<span class="ps-1" id='new-button'>Novo modelo de dado</span>
            </button>
            <button
                    onclick="changeModalTitle('Novo firmware')"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#sensorModal"
                    class="mt-sm-0 btn btn-dark d-flex align-items-center"
            >
                {% bs_icon 'plus' size='1.2em' %}<span class="ps-1" id='new-button'>Novo firmware</span>
            </button>
        </div>

        <div class="d-flex flex-column align-items-center">
            <h4 class="mb-3">Modelos de dados enviados pelo dispositivo</h4>
            {% for model in object.datamodel_set.all %}
                <div
                        class="w-100 d-flex flex-column flex-sm-row align-items-center justify-content-between border rounded px-3 py-3 mt-3"
                >
                    <div class="d-flex flex-column pe-5">
                        <div class="d-flex mb-3">
                            <p class="mb-0 me-3 fs-5 fw-semibold">{{ model.name }}</p>
                        </div>
                        <div class="d-flex">
                            <p class="mb-0 me-3">Descrição: {{ model.description }}</p>
                            <p class="mb-0 me-3">Tag: {{ model.reference_tag }}</p>
                        </div>

                        <div class="mt-3">
                            <button
                                    type="button"
                                    style="
              --bs-btn-padding-y: 0.25rem;
              --bs-btn-padding-x: 0.5rem;
              --bs-btn-font-size: 0.75rem;
            "
                                    class="btn btn-success me-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#edit_model{{ model.id }}"
                            >
                                {% bs_icon 'pencil-square' size='1.2em' %}Editar
                            </button>
                            <button
                                    onclick="deleteDataModelModalForm('{% url 'dashboard:device_data-model_delete' object.id model.id %}')"
                                    type="button"
                                    style="
              --bs-btn-padding-y: 0.25rem;
              --bs-btn-padding-x: 0.5rem;
              --bs-btn-font-size: 0.75rem;
            "
                                    class="btn btn-danger me-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteDataModelModal"
                            >
                                {% bs_icon 'trash' size='1.2em' %}Deletar
                            </button>


                            {% comment %} Edit Data model Modal {% endcomment %}
                            <div
                                    class="modal fade"
                                    id="edit_model{{ model.id }}"
                                    tabindex="-1"
                                    aria-labelledby="sensorModalLabel"
                                    aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form class="w-100" method="post" enctype="multipart/form-data"
                                              action="{% url 'dashboard:device_data-model_update' object.id model.id %}">
                                            <div class="modal-header">
                                                <h1 id='sensorModalLabel' class="modal-title fs-5">
                                                    Editando modelo de dados
                                                </h1>
                                                <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                ></button>
                                            </div>
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="mac" class="form-label">Nome</label>
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            id="name"
                                                            name="name"
                                                            placeholder="Temperatura"
                                                            value="{{ model.name }}"
                                                            required
                                                    />
                                                </div>
                                                <div class="mb-3">
                                                    <label for="version" class="form-label">Descrição</label>
                                                    <textarea
                                                            class="form-control"
                                                            id="name"
                                                            name="description"
                                                            placeholder="Este campo faz...."
                                                            required
                                                    >{{ model.description }}</textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="mac" class="form-label">Tag de referência</label>
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            id="name"
                                                            name="reference_tag"
                                                            placeholder="temp, umidade, nivel"
                                                            value="{{ model.reference_tag }}"
                                                            required
                                                    />
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                        type="button"
                                                        class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                >
                                                    Fechar
                                                </button>
                                                <button type="submit" class="btn btn-primary">Confirmar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                Nenhum firmware encontrado
            {% endfor %}
        </div>

        <div class="d-flex flex-column align-items-center">
            <h4 class="mb-3">Firmwares</h4>
            {% for fw in object.firmware_set.all %}
                <div
                        class="w-100 d-flex flex-column flex-sm-row align-items-center justify-content-between border rounded px-3 py-3 mt-3"
                >
                    <div class="d-flex flex-column pe-5">
                        <div class="d-flex mb-3">
                            <p class="mb-0 me-3 fs-5 fw-semibold">{{ fw.detail }}</p>
                        </div>
                        <div class="d-flex">
                            <p class="mb-0 me-3">Versão: {{ fw.version }}</p>
                            <p class="mb-0 me-3">Data de criação: {{ fw.created_at }}</p>
                        </div>

                        <div class="mt-3">
                            <button
                                    onclick="deleteSensorModalForm('{% url 'dashboard:device_firmware_delete' object.id fw.id %}')"
                                    type="button"
                                    style="
              --bs-btn-padding-y: 0.25rem;
              --bs-btn-padding-x: 0.5rem;
              --bs-btn-font-size: 0.75rem;
            "
                                    class="btn btn-danger me-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteSensorModal"
                            >
                                {% bs_icon 'trash' size='1.2em' %}Deletar
                            </button>
                        </div>
                    </div>
                </div>
            {% empty %}
                Nenhum firmware encontrado
            {% endfor %}
        </div>
        {% comment %} Delete Modal {% endcomment %}
        <div
                class="modal fade"
                id="deleteSensorModal"
                tabindex="-1"
                aria-labelledby="deleteSensorModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteSensorModalLabel">
                            Tem certeza que deseja deletar?
                        </h1>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Ao deletar este firmware, nenhum dispositivo deste modelo poderá baixá-lo.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form id="deleteSensorModalForm" method="post" action="">
                            {% csrf_token %}
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                            >
                                Fechar
                            </button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Delete DataModel Modal {% endcomment %}
        <div class="modal fade"
             id="deleteDataModelModal"
             tabindex="-1"
             aria-labelledby="deleteSensorModalLabel"
             aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteSensorModalLabel">
                            Tem certeza que deseja deletar?
                        </h1>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Ao deletar este modelo de dados, nenhum nenhum dado deste modelo será recebido.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form id="deleteDataModelModalForm" method="post" action="">
                            {% csrf_token %}
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                            >
                                Fechar
                            </button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Modal {% endcomment %}
        <div
                class="modal fade"
                id="sensorModal"
                tabindex="-1"
                aria-labelledby="sensorModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="w-100" method="post" enctype="multipart/form-data"
                          action="{% url 'dashboard:device_firmware_create' object.id %}">
                        <div class="modal-header">
                            <h1 id='sensorModalLabel' class="modal-title fs-5">
                                Criando firmware
                            </h1>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="mac" class="form-label">Detalhes</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="name"
                                        name="detail"
                                        placeholder="Leitura de temperatura, pressão e umidade"
                                        required
                                />
                            </div>
                            <div class="mb-3">
                                <label for="version" class="form-label">Versão</label>
                                <input
                                        type="number"
                                        class="form-control"
                                        id="name"
                                        name="version"
                                        placeholder="4"
                                        required
                                />
                            </div>
                            <div class="mb-3">
                                <label for="mac" class="form-label">Arquivo</label>
                                <input
                                        type="file"
                                        class="form-control"
                                        id="name"
                                        name="file"
                                        placeholder="fw.bin"
                                        required
                                />
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                            >
                                Fechar
                            </button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>

        {% comment %} Create Data model Modal {% endcomment %}
        <div
                class="modal fade"
                id="datamodelModal"
                tabindex="-1"
                aria-labelledby="sensorModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="w-100" method="post" enctype="multipart/form-data"
                          action="{% url 'dashboard:device_data-model_create' object.id %}">
                        <div class="modal-header">
                            <h1 id='sensorModalLabel' class="modal-title fs-5">
                                Criando modelo de dados
                            </h1>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="mac" class="form-label">Nome</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="name"
                                        name="name"
                                        placeholder="Temperatura"
                                        required
                                />
                            </div>
                            <div class="mb-3">
                                <label for="version" class="form-label">Descrição</label>
                                <textarea
                                        class="form-control"
                                        id="name"
                                        name="description"
                                        placeholder="Este campo faz...."
                                        required
                                ></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="mac" class="form-label">Tag de referência</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="name"
                                        name="reference_tag"
                                        placeholder="temp, umidade, nivel"
                                        required
                                />
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                            >
                                Fechar
                            </button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        function goBack() {
            window.history.back();
        }

        function changeModalTitle(title) {
            document.getElementById('sensorModalLabel').innerText = title;
        }

        function deleteSensorModalForm(url) {
            document.getElementById('deleteSensorModalForm').action = url;
        }

        function deleteDataModelModalForm(url) {
            document.getElementById('deleteDataModelModalForm').action = url;
        }
    </script>
{% endblock content %}
