{% extends "main.html" %} {% block content %}
    <style>
        body section div.w-100 {
            height: 100%;
            max-width: 100vw!important;
        }
    </style>
    <section>
        <div class="">
            <h1 class="pt-5 pb-2 fs-3 text-center fw-bold">
                Pluviometer - Fique ligado nas chuvas ao seu redor!
            </h1>
        </div>

        <div id="map"></div>

        <div class="mt-4">

            <div
                    class="offcanvas offcanvas-end w-25 h-50"
                    tabindex="-1"
                    id="offcanvasBottom"
                    aria-labelledby="offcanvasBottomLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBottomLabel">
                        Instruções em caso de perigo
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body small">
                    <p id="instructions"></p>
                </div>
            </div>
        </div>

        <script>
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    alert("GeoLocalização não foi possivel");
                }
            }

            function showPosition(position) {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;
            }

            function changeInstructions(instructions) {
                document.getElementById("instructions").innerHTML = instructions;
            }

            var latitude = -28.951179;
            var longitude = -49.467383;

            getLocation();

            const zoom = 13;
            const mapContainer = document.querySelector("#map");
            mapContainer.style.width = "100%"
            mapContainer.style.height = "400px"
            mapContainer.style.border = "none"
            var dangerousLevel = 70;

            if (dangerousLevel >= 65) {
                ColorIndicator = '#f03';
                message = `
               <div>
                 <strong>Perigo!</strong>
                 <br />
                 <button type="button" class="btn fs-6 btn-link m-0 p-0"
                 data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
                 aria-controls="offcanvasBottom">Ver instruções</button>
               </div>`
            } else {
                ColorIndicator = '#40c752';
                message = 'Clima suave!'
            }

            var map = L.map('map').setView([latitude, longitude], zoom);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(map);

            {% for local in locations %}
                var in_alert = {% if local.in_alert %} true {% else %} false {% endif %};
                alert_instructions_{{ local.id }} = "{{ local.alert_instructions }}";
                message = `
               <div>
                 <strong>${in_alert ? 'PERIGO!': 'Leituras Ok'}</strong>
                 <br />
                 <p>{{ local.name }}
                 <br />
                 {{ local.address }}
                 <br />
                 {{ local.latitude }} , {{ local.longitude }}</p>
                 <button type="button" class="btn fs-6 btn-link m-0 p-0"
                 data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
                 aria-controls="offcanvasBottom"
                onclick="changeInstructions(alert_instructions_{{ local.id }})">Ver instruções</button>
               </div>`
                var color_indicator_{{ local.id }} = in_alert ? '#f03': '#40c752';
                var marker_{{ local.id }} = L.marker([{{ local.get_lat_str }}, {{ local.get_lon_str }}]).addTo(map).bindPopup(`${message}`).openPopup();
                var circle_{{ local.id }} = L.circle([{{ local.get_lat_str }}, {{ local.get_lon_str }}], {
                    color: color_indicator_{{ local.id }},
                    fillColor: color_indicator_{{ local.id }},
                    fillOpacity: 0.5,
                    radius: {{ local.radius }}
                }).addTo(map);
            {% endfor %}
        </script>
    </section>
{% endblock content %}
