{% extends "main.html" %} {% block content %} {% load bootstrap_icons %}
    <section class="container-fluid ps-4 pe-4 mt-5">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex">
                <span class="cursor-pointer"
                      onclick="goBack()">{% bs_icon 'arrow-left' size='1.5em' color='#000' %}</span>
                <h4 class="ms-3">Sensores</h4>
            </div>
            {% if has_permissions %}
            <button
                    onclick="changeModalTitle('Adicionar sensor')"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#sensorModal"
                    class="mt-sm-0 btn btn-dark d-flex align-items-center"
            >
                {% bs_icon 'plus' size='1.2em' %}<span class="ps-1">Adicionar sensor</span>
            </button>
            {% endif %}
        </div>
        <div style="max-width: 300px">
            <form action="" style="display: flex">
                <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="MAC"> &nbsp;&nbsp;
                <button type="submit" class="btn btn-success">{% bs_icon 'search' size='1.2em' %}<span class="ps-1">
                </button>
            </form>
        </div>


        <div class="d-flex flex-column align-items-center">
            {% for device in object_list %}
                <div
                        class="w-100 d-flex flex-column flex-sm-row align-items-center justify-content-between border rounded px-3 py-3 mt-3"
                >
                    <div class="d-flex flex-column pe-5">
                        <div class="d-flex mb-3">
                            <p class="mb-0 me-3 fs-5 fw-semibold">{{ device.model }}</p>
                            {% if has_permissions %}
                            <a href="{% url 'dashboard:device_logs' device.id 'one_day' %}"
                               class="btn btn-primary btn-sm">Leituras 1 dia</a> &nbsp;
                            <a href="{% url 'dashboard:device_logs' device.id 'three_days' %}"
                               class="btn btn-primary btn-sm">Leituras 3 dias</a> &nbsp;
                            <a href="{% url 'dashboard:device_logs' device.id 'five_days' %}"
                               class="btn btn-primary btn-sm">Leituras 5 dias</a> &nbsp;
                            <a href="{% url 'dashboard:device_logs' device.id 'seven_days' %}"
                               class="btn btn-primary btn-sm">Leituras 7 dias</a> &nbsp;
                            {% endif %}
                        </div>

                        <span class="fs-6 fw-semibold me-2">MAC: <strong>{{ device.mac }}</strong></span>
                        <span class="fs-6 fw-semibold me-2">Modelo: <strong>{{ device.model }}</strong></span>
                        <span class="fs-6 fw-semibold me-2">Última chamada: <strong>{{ device.last_call }}</strong></span>
                        <span class="fs-6 fw-semibold me-2">Localização: <strong>{{ device.location }}</strong></span>
                        <span class="fs-6 fw-semibold me-2">Latitude: <strong>{{ device.latitude }}</strong></span>
                        <span class="fs-6 fw-semibold me-2">Longitude: <strong>{{ device.longitude }}</strong></span>

                        <div class="mt-3">
                            {% if has_permissions %}
                            <button
                                    onclick="changeDeleteModalURL('{% url 'dashboard:project_devices_remove' project device.id %}')"
                                    type="button"
                                    style="
              --bs-btn-padding-y: 0.25rem;
              --bs-btn-padding-x: 0.5rem;
              --bs-btn-font-size: 0.75rem;
            "
                                    class="btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteSensorModal"
                            >
                                {% bs_icon 'trash' size='1.2em' %} Remover
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                Nenhum dispositivo encontrado
            {% endfor %}
        </div>

        {% if has_permissions %}
        {% comment %} Delete Modal {% endcomment %}
        <div
                class="modal fade"
                id="deleteSensorModal"
                tabindex="-1"
                aria-labelledby="deleteSensorModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteSensorModalLabel">
                            Tem certeza que deseja remover o dispositivo?
                        </h1>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Ao remover o dispositivo, o projeto perde a relação com seus dados.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form id="deleteSensorModalForm" class="w-100" method="post" action="">
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Fechar
                            </button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Modal {% endcomment %}
        <div
                class="modal fade"
                id="sensorModal"
                tabindex="-1"
                aria-labelledby="sensorModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="w-100 ps-2 pe-2 pt-4" method="post"
                          action="{% url 'dashboard:project_devices_add' project %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="sensorModalLabel">
                                Adicionando sensor
                            </h1>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>

                        <div class="mb-3">
                            <label for="mac" class="form-label">MAC</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="mac"
                                    name="mac"
                                    placeholder="00:00:00:00:00:00"
                                    required
                            />
                        </div>
                        <div class="modal-footer">
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                            >
                                Fechar
                            </button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        {% endif %}
    </section>

    <script>
        function goBack() {
            window.location = "{% url 'dashboard:project_detail' project %}";
        }

        function changeModalTitle(title) {
            document.getElementById('sensorModalLabel').innerText = title;
        }

        function changeDeleteModalURL(url) {
            document.getElementById('deleteSensorModalForm').action = url;
        }
    </script>
{% endblock content %}
