<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <div></div>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-3">
        <a
          class="fw-semibold text-reset text-decoration-none"
          href="{% url 'dashboard:dashboard' %}"
          >Dashboard</a
        >
      </li>
      <li class="list-group-item py-3">
        <a
          class="fw-semibold text-reset text-decoration-none"
          href="{% url 'dashboard:sensors' %}"
          >Sensores</a
        >
      </li>
      <li class="list-group-item py-3">
        <a
          class="fw-semibold text-reset text-decoration-none"
          href="{% url 'dashboard:reports' %}"
          >Relatórios</a
        >
      </li>
      <li class="list-group-item py-3">
        <a
          class="fw-semibold text-reset text-decoration-none"
          href="{% url 'dashboard:chart' %}"
          >Gráfico</a
        >
      </li>
    </ul>
  </div>
  <button
    style="width: 150px"
    type="button"
    class="align-self-center btn btn-danger mb-4 w-150"
  >
    Sair da conta
  </button>
</div>
