{%load static%} {%load bootstrap_icons%}{#{% load pwa %} #}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {#{% progressive_web_app_meta %}#}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {#{% include 'firebase.html' %}#} {% load django_bootstrap5 %}{% bootstrap_css%}
    {% bootstrap_javascript %} {% bootstrap_messages %}

    <title>Pluviometer - Fique ligado nas chuvas ao seu redor!</title>
  </head>

  <body>
    {% include 'navbar.html' %} {% include 'notifications.html' %}

    <section class="pb-4 d-flex justify-content-center">
      <div style="max-width: 1280px" class="w-100">
        {% block content %} {% endblock %}
      </div>
    </section>

    {% block extra_script %} {% endblock %}
  </body>

</html>
