{% extends "main.html" %} {% block content %}
<section class="container-fluid ps-4 pe-4 mt-5">
  <h4>Projetos</h4>

  <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, 
            delenitisit amet consectetur adipisicing elit. Cupiditate, deleniti!
          </p>
          <a href="#" class="btn btn-primary">Ver projeto</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, 
            delenitisit amet consectetur adipisicing elit. Cupiditate, deleniti!
          </p>
          <a href="#" class="btn btn-primary">Ver projeto</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, 
            delenitisit amet consectetur adipisicing elit. Cupiditate, deleniti!
          </p>
          <a href="#" class="btn btn-primary">Ver projeto</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, 
            delenitisit amet consectetur adipisicing elit. Cupiditate, deleniti!
          </p>
          <a href="#" class="btn btn-primary">Ver projeto</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
